<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Customers</title>
</head>
<body>
    <h2 class="mb-3">All Customers</h2>
    
    <div class="container-fluid col-sm-10">

        <div class="tableItemAmount"><label for="">Show &nbsp;</label>
            <select #numberPerPage (change)="selectedNumbersPerPage(numberPerPage.value)">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
            </select>
        </div>
        <br>
        <table class="table table-primary">
            <thead>
                <tr>
                    <th scope="col">Customer Id</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email Address</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
                <tr *ngFor="let customer of customerArray">
                    <td>{{customer.customerId}}</td>
                    <td>{{customer.firstName}}</td>
                    <td>{{customer.lastName}}</td>
                    <td>{{customer.emailAddress}}</td>
                    <td><button (click)="deleteCustomer(customer.customerId!)">Delete</button></td>
                </tr>
        </table>
    </div>
    <br>
    <div class="container-fluid col-sm-10" style="float-left;text-align:left">
        <div class="paginations">
            <div>
                <div class="btn-group" id="radioBtn" >
                    <a class="btn btn-primary btn-sm notActive" (click)="onPrevious()">Previous</a>
                    <a class="btn btn-primary btn-sm notActive">{{pageFilterObject.pageNumber}}</a>
                    <a class="btn btn-primary btn-sm notActive"  (click)="onNext()">Next</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>