<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking </title>
</head>
<body>
    <h2 class="mb-3">Book A Cab</h2>
    <div class="container-fluid">
        <div *ngIf = successEnabled class="alert alert-success alert-dismissible" role="alert">
            Booking Successful!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <form action="createBooking" [formGroup]="bookingFormGroup" (ngSubmit)="createBooking()" name="bookingForm">
            <div class="row">
                <div class="col-sm-4">
                    <label for="customerId" class="form-label">Please Select A User</label><br>
                    <select class="form-select" id="customerId" formControlName="customerId" ng-required="true" tabindex="1">
                        <option *ngFor="let customer of customerArray" [value]="customer.customerId">
                            {{customer.firstName}} {{customer.lastName}}
                        </option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <label for="numberOfPassengers" class="form-label">Please Select The Number Of Passengers</label><br>
                    <select class="form-select" id="numberOfPassengers" formControlName="numberOfPassengers" tabindex="2">
                        <option> 1 </option>
                        <option> 2 </option>
                        <option> 3 </option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <label for="dateTime" class="form-label">Please Select Date And Time</label>
                    <input id="dateTime" class="form-control" type="datetime-local" placeholder="Today" tabindex="3" ng-required="true" formControlName="dateTime">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <label for="sourceStreetAddress" class="form-label">Source Address</label>
                    <input id="sourceStreetAddress" class="form-control" type="text" placeholder="111 Main Street" tabindex="4" formControlName="sourceStreetAddress" ng-required="true">
                </div>
                <div class="col-sm-6">
                    <label for="destinationStreetAddress" class="form-label">Destination Address</label>
                    <input id="destinationStreetAddress" class="form-control" type="text" placeholder="123 5th Street" tabindex="8" formControlName="destinationStreetAddress" ng-required="true">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <label for="sourceCity" class="form-label">Source City</label>
                    <input id="sourceCity" class="form-control" type="text" placeholder="Bridgeport" tabindex="5" formControlName="sourceCity" ng-required="true">
                </div>
                <div class="col-sm-6">
                    <label for="destinationCity" class="form-label">Destination City</label>
                    <input id="destinationCity" class="form-control" type="text" placeholder="Bridgeport" tabindex="9" formControlName="destinationCity" ng-required="true">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <label for="sourceState" class="form-label">Source State</label>
                    <input id="sourceState" class="form-control" type="text" placeholder="Connecticut" tabindex="6" formControlName="sourceState" ng-required="true">
                </div>
                <div class="col-sm-6">
                    <label for="destinationState" class="form-label">Destination State</label>
                    <input id="destinationState" class="form-control" type="text" placeholder="Connecticut" tabindex="10" formControlName="destinationState" ng-required="true">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <label for="sourceZipCode" class="form-label">Source Zip Code</label>
                    <input id="sourceZipCode" class="form-control" type="text" placeholder="12345" tabindex="7" formControlName="sourceZipCode" ng-required="true">
                </div>
                <div class="col-sm-6">
                    <label for="destinationZipCode" class="form-label">Destination Zip Code</label>
                    <input id="destinationZipCode" class="form-control" type="text" placeholder="12345" tabindex="11" formControlName="destinationZipCode" ng-required="true">
                </div>
            </div>
            <br>
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>                
        </form>
    </div>
</body>
</html>